/*
* Globals
*/
@media ( min-width : 48em) {
	html {
		font-size: 18px;
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #555;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 400;
	color: #333;
	color: rgba(130, 130, 130, 1.00);
}

p {
	font-size: 15px;
	text-align: justify;
}
/*
* Override Bootstrap's default container.
*/
table {
	width: 100%;
	font-size: 13px;
	text-align: center;
	color: rgba(130, 130, 130, 1.00);
	margin: auto;
}

thead {
	background-color: #428BCA;
	color: #FFFFFF;
}

th {
	font-weight: bold;
}

tr {
	align-content: center;
}

.ia-table th {
	text-align: center;
	align-content: center;
}

.container {
	max-width: 60rem;
}
/*
* Masthead for nav
*/
.blog-masthead {
	margin-bottom: 3rem;
	background-color: #344358;
	box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
}
/* Nav links */
.nav-link {
	position: relative;
	padding: 1rem;
	font-weight: 500;
	color: #cdddeb;
}

.nav-link:hover, .nav-link:focus {
	color: #fff;
	background-color: transparent;
}
/* Active state gets a caret at the bottom */
.nav-link.active {
	color: #fff;
}

.nav-link.active::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -.3rem;
	vertical-align: middle;
	content: "";
	border-right: .3rem solid transparent;
	border-bottom: .3rem solid;
	border-left: .3rem solid transparent;
}
/*
* Blog name and description
*/
.blog-header {
	padding-bottom: 1.25rem;
	margin-bottom: 2rem;
	border-bottom: .05rem solid #eee;
}

.blog-title {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 400;
}

.blog-description {
	font-size: 1.1rem;
	color: #999;
}

@media ( min-width : 40em) {
	.blog-title {
		font-size: 3.5rem;
	}
}
/*
* Main column and sidebar layout
*/
/* Sidebar modules for boxing content */
.sidebar-module {
	padding: 1rem;
}

.sidebar-module-inset {
	padding: 1rem;
	background-color: #f5f5f5;
	border-radius: .25rem;
}

.sidebar-module-inset p:last-child, .sidebar-module-inset ul:last-child,
	.sidebar-module-inset ol:last-child {
	margin-bottom: 0;
}
/* Pagination */
.blog-pagination {
	margin-bottom: 4rem;
}

.blog-pagination>.btn {
	border-radius: 2rem;
}
/*
* Blog posts
*/
.blog-post {
	margin-bottom: 4rem;
}

.blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}

.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
}
/*
* Footer
*/
.blog-footer {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
	margin-bottom: 0;
}

.footer-dark {
	padding:50px 0;
	color:#f0f9ff;
	background-color:#344358;
  }
  
  .footer-dark h3 {
	margin-top:0;
	margin-bottom:12px;
	font-weight:bold;
	font-size:16px;
  }
  
  .footer-dark ul {
	padding:0;
	list-style:none;
	line-height:1.6;
	font-size:14px;
	margin-bottom:0;
  }
  
  .footer-dark ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.6;
  }
  
  .footer-dark ul a:hover {
	opacity:0.8;
  }
  
  @media (max-width:767px) {
	.footer-dark .item:not(.social) {
	  text-align:center;
	  padding-bottom:20px;
	}
  }
  
  .footer-dark .item.text {
	margin-bottom:36px;
  }
  
  @media (max-width:767px) {
	.footer-dark .item.text {
	  margin-bottom:0;
	}
  }
  
  .footer-dark .item.text p {
	opacity:0.6;
	margin-bottom:0;
  }
  
  .footer-dark .item.social {
	text-align:center;
  }
  
  @media (max-width:991px) {
	.footer-dark .item.social {
	  text-align:center;
	  margin-top:20px;
	}
  }
  
  .footer-dark .item.social > a {
	font-size:20px;
	width:36px;
	height:36px;
	line-height:36px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	box-shadow:0 0 0 1px rgba(255,255,255,0.4);
	margin:0 8px;
	color:#fff;
	opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
	opacity:0.9;
  }
  
  .footer-dark .copyright {
	text-align:center;
	padding-top:24px;
	opacity:0.3;
	font-size:13px;
	margin-bottom:0;
  }
  
  .main{
	  padding-bottom: 70px;
  }